.wrapper
    @extend .w-full, .ml-auto, .mr-auto
    @media global-media-queries['xs__']
        min-width: rem(312px)
        max-width: rem(384px)
    @media global-media-queries['sm__']
        min-width: rem(408px)
        max-width: rem(504px)
    @media global-media-queries['md__']
        min-width: rem(600px)
        max-width: rem(744px)
    @media global-media-queries['lg__']
        min-width: rem(888px)
        max-width: rem(1104px)
    @media global-media-queries['xl__']
        min-width: rem(1176px)
        max-width: rem(1464px)

.gutter
    padding-left 12px
    padding-right: 12px