/**
 * @license
 * MyFonts Webfont Build ID 3545832, 2018-03-22T08:30:25-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: NimrodWGL-Italic by Monotype 
 * URL: https://www.myfonts.com/fonts/mti/nimrod/wgl-italic/
 * Copyright: Font software Copyright 1993 Adobe Systems Incorporated. Typeface designs Copyright 1993 The Monotype Corporation. All rights reserved. &#x0022;Nimrod&#x0022; is a registered trademark of The Monotype Corporation in the United States and/or other countrie
 * 
 * Webfont: NimrodWGL by Monotype 
 * URL: https://www.myfonts.com/fonts/mti/nimrod/wgl-regular/
 * Copyright: Font software Copyright 1993 Adobe Systems Incorporated. Typeface designs Copyright 1993 The Monotype Corporation. All rights reserved. &#x0022;Nimrod&#x0022; is a registered trademark of The Monotype Corporation in the United States and/or other countrie
 * 
 * Webfont: PosteramaText-Black by Monotype 
 * URL: https://www.myfonts.com/fonts/mti/posterama/text-black/
 * Copyright: Copyright &#x00A9; 2016 Monotype Imaging Inc.  All rights reserved.
 * 
 * Webfont: Monospac821BTWGL4WXX-Roman by Bitstream
 * URL: https://www.myfonts.com/fonts/bitstream/monospace-821/wgl-roman-176218/
 * Copyright: Copyright 1990-2005 Bitstream Inc. All rights reserved.
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3545832
 * Licensed pageviews: 250,000
 * 
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("/count/361ae8");

  
@font-face {
    font-family: 'Nimrod';
    font-weight: 400;
    font-style: italic;
    src: url('/webfonts/361AE8_0_0.eot');
    src: url('/webfonts/361AE8_0_0.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/361AE8_0_0.woff2') format('woff2'),
    url('/webfonts/361AE8_0_0.woff') format('woff'),
    url('/webfonts/361AE8_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Nimrod';
    font-weight: 400;
    font-style: normal;
    src: url('/webfonts/361AE8_1_0.eot');
    src: url('/webfonts/361AE8_1_0.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/361AE8_1_0.woff2') format('woff2'),
    url('/webfonts/361AE8_1_0.woff') format('woff'),
    url('/webfonts/361AE8_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'PosteramaText';
    font-weight: 800;
    font-style: normal;
    src: url('/webfonts/361AE8_2_0.eot');
    src: url('/webfonts/361AE8_2_0.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/361AE8_2_0.woff2') format('woff2'),
    url('/webfonts/361AE8_2_0.woff') format('woff'),
    url('/webfonts/361AE8_2_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Monospace821';
    font-weight: 400;
    font-style: normal;
    src: url('/webfonts/361AE8_3_0.eot');
    src: url('/webfonts/361AE8_3_0.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/361AE8_3_0.woff2') format('woff2'),
    url('/webfonts/361AE8_3_0.woff') format('woff'),
    url('/webfonts/361AE8_3_0.ttf') format('truetype');
}
 