/* ==========================================================================
   #INDEX
   ========================================================================== */

//1. Import functions from the framework
@import "lib/functions";

//2. Import your resets (like normalize) and anything else that does no depend on the framework
@import "fonts";
@import "reset";

//3. Import settings (you can rename and move the settings.styl file, just make sure it is imported here)
@import "settings";

//4. Import utilities and objectes from the framework
@import "lib/utilities";
@import "lib/objects";

//5. Import custom styles that depend on the framework (@extend styles)
@import "custom";

