/*  =========================================================================
    CUSTOM GLOBAL STYLES
    ========================================================================= */
html
    box-sizing: border-box
*
*:before
*:after
    box-sizing: inherit

body
figure
p
h1
h2
h3
h4
h5
h6
ul
li
    margin: 0
    padding: 0

img
    display: inline-block
    max-width: 100%

a
    text-decoration: none

ul
li
    list-style: none

