/*  =========================================================================
    ALIGN ITEMS
    ========================================================================= */

// Settings
align-items-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ai-',
    'values': {
        'stretch' : stretch,
        'start'   : flex-start,
        'end'     : flex-end,
        'center'  : center,
        'baseline': baseline
    }
}


// Classes
writeClasses('align-items', align-items-settings)
