/*  =========================================================================
    ALIGN SELF
    ========================================================================= */

// Settings
align-self-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'as-',
    'values': {
        'stretch' : stretch,
        'start'   : flex-start,
        'end'     : flex-end,
        'center'  : center,
        'baseline': baseline,
        'auto'    : auto
    }
}

// Classes
writeClasses('align-self', align-self-settings)
