/*  =========================================================================
    POSITION
    ========================================================================= */

// Settings
background-size-settings = {
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bg-size-',
    'values': {
        'contain'  : contain,
        'cover'    : cover,
        'auto'     : auto
    }
}

// Classes
writeClasses('background-size', background-size-settings)