/*  =========================================================================
    POSITION
    ========================================================================= */

// Settings
background-position-settings = {
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'bg-pos-',
    'values': {
        'top'          : top center,
        'bottom'       : bottom center,
        'center'       : center center,
        'right'        : center right,
        'left'         : center left,
        'top-right'    : top right,
        'top-left'     : top left,
        'bottom-right' : bottom right,
        'bottom-left'  : bottom left
    }
}

// Classes
writeClasses('background-position', background-position-settings)