/*  =========================================================================
    BACKGROUND COLOR
    ========================================================================= */

// Settings
background-color-settings = {
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'bg-',
    'values': global-color-values
}

// Classes
writeClasses('background-color', background-color-settings)

