/*  =========================================================================
    BORDER WIDTH
    ========================================================================= */

// Settings
border-values = {
    '0'       : 0,
    'px'      : 1px,
    '4'       : 4px,
    '8'       : 8px
}


border-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'b-',
    'values': border-values
}
border-top-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bt-',
    'values': border-values
}
border-right-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'br-',
    'values': border-values
}
border-bottom-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bb-',
    'values': border-values
}
border-left-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'bl-',
    'values': border-values
}

// Classes
writeClasses('border-width', border-settings)

writeClasses('border-top-width', border-top-settings)

writeClasses('border-right-width', border-right-settings)

writeClasses('border-bottom-width', border-bottom-settings)

writeClasses('border-left-width', border-left-settings)

