/*  =========================================================================
    BORDER COLOR
    ========================================================================= */

// Settings
border-color-settings = {
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'bc-',
    'values': global-color-values
}

// Classes
writeClasses('border-color', border-color-settings)

