/*  =========================================================================
    BORDER STYLE
    ========================================================================= */

// Settings
border-style-settings = {
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'bs-',
    'values': {
        'none': none,
        'hidden': hidden,
        'dotted': dotted,
        'dashed': dashed,
        'solid': solid
    }
}

// Classes
writeClasses('border-style', border-style-settings)

