/*  =========================================================================
    CLEAR
    ========================================================================= */

// Settings
clear-content-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'cl-',
    'values': {
        'left' : left,
        'right': right,
        'none' : none,
        'both' : both
    }
}

// Classes
writeClasses('clear', clear-settings)

