/*  =========================================================================
    COLOR
    ========================================================================= */

// Settings
color-settings = {
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'c-',
    'values': global-color-values
}

// Classes
writeClasses('color', color-settings)