/*  =========================================================================
    DISPLAY
    ========================================================================= */


// Settings
display-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'd-',
    'values': {
        'block' : block,
        'inline': inline,
        'in-bl' : inline-block,
        'flex'  : flex,
        'grid'  : grid,
        'none'  : none
    }
}

// Classes
writeClasses('display', display-settings)