/*  =========================================================================
    FLEX SHRINK
    ========================================================================= */

// Settings
flex-shrink-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fxs-',
    'values': {
        '0' : 0,
        '1' : 1,
        '2' : 2
    }
}

// Classes
writeClasses('flex-shrink', flex-shrink-settings)
