/*  =========================================================================
    FLEX WRAP
    ========================================================================= */


// Settings
flex-wrap-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fxw-',
    'values': {
        'nowrap'  : nowrap,
        'wrap'    : wrap,
        'reverse' : wrap-reverse
    }
}

// Classes
writeClasses('flex-wrap', flex-wrap-settings)