/*  =========================================================================
    FLEX GROW
    ========================================================================= */


// Settings
flex-grow-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fxg-',
    'values': {
        '0' : 0,
        '1' : 1,
        '2' : 2
    }
}

// Classes
writeClasses('flex-grow', flex-grow-settings)