/*  =========================================================================
    FLEX DIRECTION
    ========================================================================= */

// Settings
flex-direction-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fxd-',
    'values': {
        'row'     : row,
        'row-rev' : row-reverse,
        'col'     : column,
        'col-rev' : column-reverse
    }
}

// Classes
writeClasses('flex-direction', flex-direction-settings)