/*  =========================================================================
    FLOAT
    ========================================================================= */


// Settings
float-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'f-',
    'values': {
        'left' : left,
        'right': right,
        'none' : none
    }
}

// Classes
writeClasses('float', float-settings)