/*  =========================================================================
    FONT FAMILY
    ========================================================================= */


// Settings
font-family-settings = {
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'ff-',
    'values': {
        'text'  : unquote('Roboto, sans-serif'),
        'titles': unquote('Teko, sans-serif')
    }
}

// Classes
writeClasses('font-family', font-family-settings)

