/*  =========================================================================
    FONT STYLE
    ========================================================================= */
    
    
    
    
// Settings
font-style-settings = {
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'fst-',
    'values': {
        'italic'  : italic,
        'normal'  : normal
    }
}

// Classes
writeClasses('font-style', font-style-settings)
