/*  =========================================================================
    FONT SIZE
    ========================================================================= */

// Settings
font-size-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'fs-',
    'values': {
        '12'  : 12px,
        '14'  : 14px,
        '16'  : 16px,
        '18'  : 18px,
        '24'  : 24px,
        '36'  : 36px,
        '48'  : 48px,
        '60'  : 60px,
        '72'  : 72px
    }
}

// Classes
writeClasses('font-size', font-size-settings)