/*  =========================================================================
    HEIGHT
    ========================================================================= */


// Settings
height-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'h-',
    'values': {
        '0'       : 0,
        'px'      : 1px,
        '1of4'    : 25%,
        '1of3'    : 33.3333%,
        '1of2'    : 50%,
        '2of3'    : 66.6666%,
        '3of4'    : 75%,
        'full'    : 100%,
        'auto'    : auto,
        'screen'  : 100vh,
        '20'      : 20px,
        '25'      : 25px,
        '30'      : 30px,
        '40'      : 40px,
        '50'      : 50px,
        '60'      : 60px,
        '75'      : 75px,
        '100'     : 100px,
        '125'     : 125px,
        '150'     : 150px,
        '175'     : 175px,
        '200'     : 200px,
        '225'     : 225px,
        '250'     : 250px,
        '275'     : 275px,
        '300'     : 300px
        '400'     : 400px
    }
}
min-height-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'min-h-',
    'values': {
        '0'       : 0,
        'px'      : 1px,
        '1of4'    : 25%,
        '1of3'    : 33.3333%,
        '1of2'    : 50%,
        '2of3'    : 66.6666%,
        '3of4'    : 75%,
        'full'    : 100%,
        'auto'    : auto,
        'screen'  : 100vh,
        '30'      : 30px,
        '60'      : 60px,
        '150'     : 150px,
        '400'     : 400px
    }
}

// Classes
writeClasses('height', height-settings)
writeClasses('min-height', min-height-settings)