/*  =========================================================================
    JUSTIFY CONTENT
    ========================================================================= */

// Settings
justify-content-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'jc-',
    'values': {
        'center'  : center,
        'start'   : flex-start,
        'end'     : flex-end,
        'between' : space-between,
        'around'  : space-around
    }
}

// Classes
writeClasses('justify-content', justify-content-settings)