/*  =========================================================================
    LETTER SPACING
    ========================================================================= */


// Settings
letter-spacing-settings = {
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'le-',
    'values': {
        'tight'  : -0.05em,
        'normal' : 0,
        'loose'  : 0.15em
    }
}

// Classes
writeClasses('letter-spacing', letter-spacing-settings)