/*  =========================================================================
    LINE HEIGHT
    ========================================================================= */

// Settings
line-height-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'lh-',
    'values': {
        '10': 1,
        '12': 1.2,
        '14': 1.4,
        '15': 1.5,
        '16': 1.6,
        '18': 1.8,
        '20': 2
    }
}

// Classes
writeClasses('line-height', line-height-settings)