/*  =========================================================================
    MARGIN
    ========================================================================= */


margin-values = {
    '0'       : 0,
    'px'      : 1px,
    'auto'    : auto
    '5'       : 5px,
    '10'      : 10px,
    '15'      : 15px,
    '20'      : 20px,
    '25'      : 25px,
    '30'      : 30px,
    '40'      : 40px,
    '50'      : 50px,
    '60'      : 60px,
    '90'      : 90px,
    '120'     : 120px,
    '150'     : 150px,
    'm5'      : -5px,
    'm10'     : -10px,
    'm15'     : -15px,
    'm20'     : -20px,
    'm25'     : -25px,
    'm30'     : -30px,
    'm60'     : -60px,
    'm90'     : -90px,
    '1of8'    : 12.5%,
    '1of6'    : 16.6666%,
    '1of4'    : 25%,
    '1of3'    : 33.3333%,
    '3of8'    : 37.5%,
    '1of2'    : 50%,
    '5of8'    : 62.5%,
    '2of3'    : 66.6666%,
    '3of4'    : 75%,
}

// Settings
margin-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'm-',
    'values': margin-values
}
margin-top-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'mt-',
    'values': margin-values
}
margin-right-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'mr-',
    'values': margin-values
}
margin-bottom-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'mb-',
    'values': margin-values
}
margin-left-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ml-',
    'values': margin-values
}

// Classes
writeClasses('margin', margin-settings)
writeClasses('margin-top', margin-top-settings)
writeClasses('margin-right', margin-right-settings)
writeClasses('margin-bottom', margin-bottom-settings)
writeClasses('margin-left', margin-left-settings)