/*  =========================================================================
    OPACITY
    ========================================================================= */

// Settings
opacity-settings = {
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'op-',
    'values': {
        '00' : 0,
        '02' : 0.2,
        '04' : 0.4,
        '06' : 0.6,
        '08' : 0.8,
        '10' : 1
    }
}

// Classes
writeClasses('opacity', opacity-settings)