/*  =========================================================================
    PADDING
    ========================================================================= */

padding-values = {
    '0'       : 0,
    'px'      : 1px,
    'auto'    : auto,
    'screenh' : 100vh,
    'screenw' : 100vw,
    '5'       : 5px,
    '10'      : 10px,
    '15'      : 15px,
    '20'      : 20px,
    '25'      : 25px,
    '30'      : 30px,
    '40'      : 40px,
    '50'      : 50px,
    '60'      : 60px,
    '90'      : 90px
}

// Settings
padding-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'p-',
    'values': padding-values
}
padding-top-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pt-',
    'values': padding-values
}
padding-right-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pr-',
    'values': padding-values
}
padding-bottom-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pb-',
    'values': padding-values
}
padding-left-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pl-',
    'values': padding-values
}

// Classes
writeClasses('padding', padding-settings)
writeClasses('padding-top', padding-top-settings)
writeClasses('padding-right', padding-right-settings)
writeClasses('padding-bottom', padding-bottom-settings)
writeClasses('padding-left', padding-left-settings)