/*  =========================================================================
    POSITION
    ========================================================================= */

// Settings
position-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'pos-',
    'values': {
        'absolute' : absolute,
        'relative' : relative,
        'static'   : static,
        'fixed'    : fixed
    }
}

// Classes
writeClasses('position', position-settings)