/*  =========================================================================
    TEXT ALIGN
    ========================================================================= */


// Settings
text-align-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ta-',
    'values': {
        'left'    : left,
        'right'   : right,
        'center'  : center,
        'justify' : justify
    }
}

// Classes
writeClasses('text-align', text-align-settings)