/*  =========================================================================
    TEXT DECORATION
    ========================================================================= */

// Settings
text-decoration-settings = {
    'responsive' : false,
    'hover'      : true,
    'classname'  : 'td-',
    'values': {
        'none'    : none,
        'under'   : underline,
        'strike'  : line-through
    }
}

// Classes
writeClasses('text-decoration', text-decoration-settings)