/*  =========================================================================
    TEXT TRASNFORM
    ========================================================================= */

// Settings
text-transform-settings = {
    'responsive' : false,
    'hover'      : false,
    'classname'  : 'tt-',
    'values': {
        'capital': capitalize,
        'upper'  : uppercase,
        'lower'  : lowercase,
        'none'   : none
    }
}

// Classes
writeClasses('text-transform', text-transform-settings)