/*  =========================================================================
    VERTICAL ALIGN
    ========================================================================= */

// Settings
vertical-align-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'va-',
    'values': {
        'base'  : baseline,
        'sub'   : sub,
        'sup'   : super,
        't-top' : text-top,
        't-bot' : text-bottom,
        'mid'   : middle,
        'top'   : top,
        'bot'   : bottom
    }
}

// Classes
writeClasses('vertical-align', vertical-align-settings)