/*  =========================================================================
    VISIBILITY
    ========================================================================= */

// Settings
visibility-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'v-',
    'values': {
        'visible'  : visible,
        'hidden'   : hidden,
        'collapse' : collapse
    }
}

// Classes
writeClasses('visibility', visibility)