/*  =========================================================================
    WHITE SPACE
    ========================================================================= */

// Settings
white-space-settings = {
    'responsive' : true,
    'hover'      : false,
    'classname'  : 'ws-',
    'values': {
        'normal'   : normal,
        'nowrap'   : nowrap,
        'pre'      : pre,
        'pre-wrap' : pre-wrap,
        'pre-line' : pre-line
    }
}

// Classes
writeClasses('white-space', white-space-settings)