/*  =========================================================================
    ALIGN SELF
    ========================================================================= */


if align-self-settings
    writeClasses('align-self', align-self-settings)
