/*  =========================================================================
    BACKGROUND POSITION
    ========================================================================= */

if background-position-settings
    writeClasses('background-position', background-position-settings)