/*  =========================================================================
    BACKGROUND COLOR
    ========================================================================= */

if background-color-settings
    writeClasses('background-color', background-color-settings)

