/*  =========================================================================
    BACKGROUND SIZE
    ========================================================================= */


if background-size-settings
    writeClasses('background-size', background-size-settings)