/*  =========================================================================
    BORDER WIDTH
    ========================================================================= */


if border-settings
    writeClasses('border-width', border-settings)

if border-top-settings
    writeClasses('border-top-width', border-top-settings)

if border-right-settings
    writeClasses('border-right-width', border-right-settings)

if border-bottom-settings
    writeClasses('border-bottom-width', border-bottom-settings)

if border-left-settings
    writeClasses('border-left-width', border-left-settings)

