/*  =========================================================================
    BORDER COLOR
    ========================================================================= */


if border-color-settings
    writeClasses('border-color', border-color-settings)

