/*  =========================================================================
    CLEAR
    ========================================================================= */

if clear-settings
    writeClasses('clear', clear-settings)

