/*  =========================================================================
    COLOR
    ========================================================================= */


if color-settings
    writeClasses('color', color-settings)