/*  =========================================================================
    FLEX DIRECTION
    ========================================================================= */

if flex-direction-settings
    writeClasses('flex-direction', flex-direction-settings)