/*  =========================================================================
    FLEX GROW
    ========================================================================= */

if flex-grow-settings
    writeClasses('flex-grow', flex-grow-settings)