/*  =========================================================================
    FLEX SHRINK
    ========================================================================= */

if flex-shrink-settings
    writeClasses('flex-shrink', flex-shrink-settings)
