/*  =========================================================================
    FONT WEIGHT
    ========================================================================= */

if font-weight-settings
    writeClasses('font-weight', font-weight-settings)