/*  =========================================================================
    FONT SIZE
    ========================================================================= */

if font-size-settings
    writeClasses('font-size', font-size-settings)