/*  =========================================================================
    FONT STYLE
    ========================================================================= */

if font-style-settings
    writeClasses('font-style', font-style-settings)
