/*  =========================================================================
    HEIGHT
    ========================================================================= */


if height-settings
    writeClasses('height', height-settings)

if min-height-settings
    writeClasses('min-height', min-height-settings)

if max-height-settings
    writeClasses('max-height', max-height-settings)