/*  =========================================================================
    LETTER SPACING
    ========================================================================= */

if letter-spacing-settings
    writeClasses('letter-spacing', letter-spacing-settings)