/*  =========================================================================
    MARGIN
    ========================================================================= */


if margin-settings
    writeClasses('margin', margin-settings)

if margin-top-settings
    writeClasses('margin-top', margin-top-settings)

if margin-right-settings
    writeClasses('margin-right', margin-right-settings)

if margin-bottom-settings
    writeClasses('margin-bottom', margin-bottom-settings)

if margin-left-settings
    writeClasses('margin-left', margin-left-settings)