/*  =========================================================================
    OPACITY
    ========================================================================= */

if opacity-settings
    writeClasses('opacity', opacity-settings)