/*  =========================================================================
    PADDING
    ========================================================================= */


if padding-settings
    writeClasses('padding', padding-settings)

if padding-top-settings
    writeClasses('padding-top', padding-top-settings)

if padding-right-settings
    writeClasses('padding-right', padding-right-settings)

if padding-bottom-settings
    writeClasses('padding-bottom', padding-bottom-settings)

if padding-left-settings
    writeClasses('padding-left', padding-left-settings)