/*  =========================================================================
    TEXT DECORATION
    ========================================================================= */

if text-decoration-settings
    writeClasses('text-decoration', text-decoration-settings)