/*  =========================================================================
    TEXT ALIGN
    ========================================================================= */

if text-align-settings
    writeClasses('text-align', text-align-settings)