/*  =========================================================================
    TEXT TRASNFORM
    ========================================================================= */

if text-transform-settings
    writeClasses('text-transform', text-transform-settings)