/*  =========================================================================
    VERTICAL ALIGN
    ========================================================================= */

if vertical-align-settings
    writeClasses('vertical-align', vertical-align-settings)