/*  =========================================================================
    VISIBILITY
    ========================================================================= */

if visibility-settings
    writeClasses('visibility', visibility-settings)