/*  =========================================================================
    WHITE SPACE
    ========================================================================= */

if white-space-settings
    writeClasses('white-space', white-space-settings)