/*  =========================================================================
    WIDTH
    ========================================================================= */


if width-settings
    writeClasses('width', width-settings)

if min-width-settings
    writeClasses('min-width', min-width-settings)

if max-width-settings
    writeClasses('max-width', max-width-settings)