extends _layout.pug
block title
    title #{page[get('title')]} - #{siteTitle}

block meta

block content
    section
        header(class="")
            h1(class="") #{page[get('title')]}
            
        div(class="")
            div
                | !{ page[get('content')] }
